<!DOCTYPE html>
<html>
<head>
  <title>MetroUiRails</title>
  <%= stylesheet_link_tag    "metro_ui_rails/application", media: "all" %>
  <%= javascript_include_tag "metro_ui_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
